[submodule "src/modules/bootstrap-vue-dynamic-form"]
	path = src/modules/bootstrap-vue-dynamic-form
	url = https://github.com/vencax/bootstrap-vue-dynamic-form
[submodule "src/modules/modularni-urad-admin-components"]
	path = src/modules/modularni-urad-admin-components
	url = https://github.com/modularni-urad/admin-components